body{
          background-image: linear-gradient(to bottom, #F67280, #F8B195, #C06C84, #6C5B7B, #355C7D);
}
p{
        font-family: verdana;
        font-size: 20px;
        color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #330;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #F67280, #F8B195);
}
.active {
  background-color: white;
}
li {
  float: left;
  color: #CO6C84;
}
li: last-child {
  border-right:none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
div{
color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
}
strong{
color: #FF0;
border-radius: 10px;
border: 2px solid #5D6063;
}
